body{
    background-image: url("images/bg-2.png");

    background-repeat: no-repeat;

    background-position: 10px 480px;
}
.button{
    color: white;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 9px 25px;
    cursor: pointer;

}
p{
    color: rgb(141, 146, 146);
}

.container{
  margin-bottom: 80px;
}

.carousel-indicators button {
  border-radius: 20%;
  width: 10px;
  height: 1px;
  padding: 4px;
  
  margin-left: 10px;
  background-color: rgb(185, 182, 182);
  opacity: 1;
  border: none;
}

/* .carousel-indicators button:after { 
  border-radius: 50%;
  padding: 10px;
  border: 4px solid rgb(36, 35, 35);
  position: absolute;
  content: "";
  top: -10px;
  left: -9px;
  bottom: -7px;
  right: -7px;
}*/

.carousel-indicators button.active {
  background-color: rgb(233, 186, 32);
  width: 35px;
}

.card{
  text-align: center;
  border: none;
  box-shadow: 5px 5px 10px lightgrey;
  border-radius: 10px;
}
.Categories{
  
  margin-top: 200px;
  margin-bottom: 100px;

  border-bottom: 9px solid rgb(252, 194, 69);
  border-radius: 5px;
  
  padding-bottom: 5px;
  
  width: 120px;
  
}

.categories {
  width: 100%;

}
.card-Center{
  margin-top: 30%;
  margin-bottom: 8%;
}
.cardBox{
margin: 15px 5px;
width: 25rem; 
height: 21rem;
margin-right: 20px;
box-shadow: 1px 1px 30px  rgb(211, 209, 208);
}
.cardBoxx{
box-shadow: 1px 1px 30px  rgb(211, 209, 208);
margin-bottom: 50px;
}